.LoginContainer {
    width: 80%;
    display: flex;
    align-items: center;
    align-content: center;
    height: 95vh;
    width: 100%;
}

.LoginCard {
    background-color: var(--CardBackground);
    padding: 10px;
    margin: auto;
    width: 60%;
    border-radius: 10px;
    position: relative;
    box-shadow: var(--Shadow);
}

.LoginCard h2 {
    color: var(--SecondaryFontColor);
    border-bottom: 1px solid;
    width: 30%;
    padding-bottom: 10px;
  
}

.LoginCard .Login-Controls {
    flex-direction: column;
    padding: 10px;
    margin-bottom: 6px;
    display: flex;
    width: 60%;
    float: left;

}

.LoginCard .Login-Input{
  margin: 5px;
  color: var(--fontColor) ;
}
.LoginCard .Login-Input label{
   
    color: var(--SecondaryFontColor) ;
}
.LoginCard .Login-Input input{
   
    color: white ;
  }
.LoginCard .Login-Image {
 
    display: flex;
    align-content: center;
    width: 30%;
    float: left;
    align-items: center;
    align-content: center;
    position: relative;
   
}
.Login-Svg{
    max-height: 300px;
    position: relative;
    bottom: -90px;
    max-width: 400px;
}
 .Login-Button .MuiButton-label{
   color:var(--SecondaryFontColor) !important;

}
.LoginCard .Login-Button{
    border:1px solid var(--SecondaryFontColor) !important;
}
.LoginCard .Content-Container{
   
    z-index: 1;
    min-height: 370px;
    position: relative;
}
.LoginCard  .Sign-Up-Text-Color{
    color: var(--SecondaryFontColor);
    cursor: pointer;
}
.LoginCard  .Sign-Up-Text-Color:hover{
    border-bottom: 1px solid var(--SecondaryFontColor);
  
}
.LoginCard .Login-Forgot-Password:hover{
    color:var(--SecondaryFontColor);
    cursor: pointer;
}
@media only screen and (max-width: 1000px){
    .LoginCard .Login-Image .Login-Svg {
        width:0%;
        visibility: hidden;
    }
    .LoginCard .Login-Controls {
        width: 98%;
    }
    .LoginCard {
        width: 100%;
    }
}