@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');

body {
    background-color: var(--Body);
}

* {
    transition: .5s;
    color: var(--FontColor);
    font-family: 'Noto Sans JP', sans-serif;
  
}

h1 {
    color: var(--FontColor);
}
.MuiTextField-root{
    margin-bottom: 10px !important;
}

.MUI-Input label {
    color: var(--SecondaryFontColor) !important;
}

.MUI-Input  input {
    color: var(--FontColor) !important;
}
.MuiButton-label{
    color:var(--SecondaryFontColor) !important;
 
 }
 .MuiButton-outlined{
    border:1px solid var(--SecondaryFontColor) !important;
}