@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');

body {
  background-color: var(--Body);
  overflow-y: hidden;
}

* {
  transition: .5s;
 
  font-family: 'Noto Sans JP', sans-serif;
  padding: 0;
  margin: 0;
}

.MuiInputLabel-formControl {
  color: #2196F3 !important;

}
.MuiInputBase-input{
  color: #6096ba !important;
}
.MuiInput-underline:before{
  border-bottom: 1px solid #2196F3 !important;
  
}
.Mui-focused{
  color: #2196F3 !important;
}
.MuiAccordion-root{
  color: #6096ba !important;
  background-color: #081724 !important;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
 }
 ::-webkit-scrollbar-thumb {
  background: #389de0;
  border-radius: 4px;
 }
 ::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(13deg, #c7ceff 14%,#1794e8 64%);
 }
 ::-webkit-scrollbar-track{
  background: #ffffff;
  border-radius: 1px;
  box-shadow: inset 7px 10px 12px #f0f0f0;
 }
