@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');

body {
    background-color: var(--Body);
    overflow-y: hidden;
}

* {
    transition: .5s;
    color: var(--FontColor);
    font-family: 'Noto Sans JP', sans-serif;
  
}

h1 {
    color: var(--FontColor);
}
.MuiTextField-root{
    margin-bottom: 10px !important;
}

.MUI-Input label {
    color: var(--SecondaryFontColor) !important;
}

.MUI-Input  input {
    color: var(--FontColor) !important;
}
.MuiButton-label{
    color:var(--SecondaryFontColor) !important;
 
 }
 .MuiButton-outlined{
    border:1px solid var(--SecondaryFontColor) !important;

}
.Containedgreen{
    background-color: var(--SecondaryFontColor) !important;
    
}
.Containedgreen .MuiButton-label{
    color: black !important;

}
.Containedgreen:hover{
    background-color: rgb(27, 155, 84);
}
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #1aea6a;
    border: 0px solid #f00000;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #1aea6a;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #1aea6a;
  }
  ::-webkit-scrollbar-track {
    background: #454545;
    border: 0px solid #ffffff;
    border-radius: 100px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #454545;
  }
  ::-webkit-scrollbar-track:active {
    background: #454545;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
  